@charset "utf-8";

@media (max-width: 37em) {
    
    html, body {
        margin: 0;
        height: 100%;
        background-color: #DCDCDC;
        font-size: 80%;
    }
    .borda {
        border: 1px solid black;
    }
    .color_fonte_white {
        color: white !important;
    }
    .msgError {
        color: red;
        font-weight: bold;
        padding: 9px;
    }
    .msgSuccess {
        color: green;
        font-weight: bold;
        padding: 9px;
    }
    .cor_fundo {
        background-color: #000080 !important;
        height: 100%;
    }

    /* NAVBAR */
    #barra_nav {
        height: 60px;
        background-color: #337ab7 !important;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        margin: 0.4%;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    #navbar-nav {
        margin-left: -20% !important;
        background-color: #337ab7 !important;
    }
    #navbar-nav > li > a {
        color: white;
    }
    #navbar-nav > li > a:hover {
        background-color: #ccc;
        color: red;
        padding: 15px;
        margin-top: -2px;;
    } 
    #navbar-nav {
        margin-left: -50% !important;
    }
    #dropdown-menu > li > a:hover {
        background-color: #ccc;
        color: red;
    }
    #navbar-nav > li > a {
        padding: 15px;
        margin-top: -2px;
    }
    #navbar-nav > li > a, #navbar_deslogar  > li > a {
        color: white;
        padding: 15px;
        margin-top: -2px;
    }
    #navbar_deslogar {
        background-color: #337ab7 !important;
        margin-left: -1.5% !important;
    }
    #navbar_saldo {
        color: white; 
        margin-top: 4px !important;
        font-size: 10px !important;
        padding: 5% 1% 1% 1% !important;
        height: 50% !important;
        margin-left: 23.5% !important;
        background-color: #337ab7 !important;
        display: none;
    }
    .info_saldo {
        color: yellow;
        text-align: left !important;
    }

    /* PÁGINA HOME */
    .div_page_principal {
        margin-top: 20% !important;
    }


    /* PÁGINA LOGIN */
    #sec_login {
        margin-top: 12% !important;
        margin-left: auto !important;
    }
    #sec_login > div > div > h2 {
        font-weight: bold !important;
        font-size: 17px !important;
        text-indent: 1% !important;
        text-align: center !important;
    }
    #div_login {
        border-radius: 20px;
        -moz-border-radius: 20px;
        width: 90% !important;
        height: 27.5em !important;
    }
    #msg_error_login {
        padding: 7px !important;
        font-size: 11px;
        background-color: #FFFF00;
    }
    .box-login{ 
        position: absolute;
        box-shadow: 8px 8px 0 black;
        -webkit-box-shadow: 8px 8px 0 black;
        -moz-box-shadow: 8px 8px 0 black;
        background-color: #D3D3D3;
        padding: 20px
    }
    .ls-login-logo{ 
        text-indent: 35px;
        margin-bottom: 25px;
    }
    .btn-tam {
        width: 49%;
    }


    /* PÁGINA CADASTRO USUÁRIO */
    #sec_cadastro_usuario {
        margin-top: 8% !important;
        margin-left: 0 !important;
    }
    #div_cad_usuario {
        border-radius: 20px;
        -moz-border-radius: 20px;
        width: 100% !important;
        height: 38em !important;
    }
    #div_cad_usuario > div > h2 {
        font-weight: bold !important;
        font-size: 17px !important;
        text-indent: 1% !important;
        text-align: center !important;
    }
    #msg_error_cad_usuario {
        padding: 8px !important;
        font-size: 11px;
        background-color: #FFFF00;
    }
    .box-login{ 
        position: absolute;
        box-shadow: 6px 6px 0 black;
        -webkit-box-shadow: 6px 6px 0 black;
        -moz-box-shadow: 6px 6px 0 black;
        background-color: #D3D3D3;
        padding: 20px;
    }
    #header_cad_usuario { 
        text-indent: 75px;
        margin-bottom: 25px;
    }
    #retorno_cad_usuario {  
        width: 100%;
    }
    #btn_cadastrar, #btn_inicio {
        width: 49%;
    }


    /* PÁGINA CADASTRO CONTA */
    #sec_cadastro_conta {
        margin-top: 8%;
        margin-left: 20%;
    }
    #panel_cadastro {
        width: 100%;
        border: solid 0 white;
    }
    #panel_heading_cadastro {
        background-color: #6C7B8B;
        color: white;
    }
    #panel_body_cadastro_conta {
        height: 240px;
    }
    #msg_error_cad_conta {
        font-size: 12px;
    }
    #msg_success_cad_conta {
        font-size: 12px;
    }

    /* PÁGINA HOME */
    #sec_sem_conta {
        margin-top: 20%;
        background-color: white;
        padding: 5px 20px 25px 30px;
    }
    #div_head_com_conta > h3 {
        font-size: 14px;
        font-weight: bold;
    }
    #sec_sem_conta > p {
        font-size: 16px;
    }
    #sec_com_conta {
        margin-top: 30% !important;
        background-color: white;
        padding: 0 15px 20px 15px;
    }
   .tipo_conta_home, .ag_conta_home {
        font-weight: bold;
        font-size: 8px;
    }
    .num_conta_home, .nome_banco_home {
        font-weight: bold;
        color: #0531fe;
        font-size: 8px;
    }
    #div_head_com_conta {
        padding: 0 10px 5px 0;
    }
    #div_body_com_conta {
        padding: 0 0 0 0;
    }
    #div_footer_com_conta {
        padding: 10px 10px 0 12px;
    }
    #btn_acessar_conta {
        width: 30%;
        height: 2em;
        padding: 2px 1px 0 0;
    }


    /* PÁGINA CONTA HOME */
    #sec_conta_home {
        margin-top: 9%;
    }
    #sec_conta_home_tab_pgtos_agendados {
        margin-top: 9%;
        color: white; 
        font-size: 12px;
    }
    .asd {
        padding: 2%;
    }
    .btn_extrato {
        height: 50% !important;
        border-radius: 10px 0 0 10px;
        width: 72% !important;
    }
    .btn_extrato_1 {
        height: 50% !important;
        border-radius: 0 10px 10px 0;
    }
    .href_btn_home {
        color: white;
        font-size: 11px;
    }
    #btn_agendamento {
        height: 40% !important;
        border-radius: 10px 0 0 10px;
        height: 50px !important;
    }
    #btn_agendamento_1 {
        height: 40% !important;
        border-radius: 0 10px 10px 0;
    }
    .bordasimples {
        border-style: solid;
        border-color: white;
        border-width: 1px;
        border-collapse: collapse;
    }
    #table_desp_agendada > tbody > tr > td {
        background-color: rgb(204,255,255);
    }
    #cab_table {
        color: white;
        background-color: red;
        font-weight: bold !important;
        text-indent: 0 !important;
        letter-spacing: 0 !important;
        font-size: 11px !important;
    }
    #tr_cab_table {
        background-color: #0000FF;
        font-weight: bold;
        color: white;
        font-size: 10px !important;
    }
    .td_color_pgto {
        color: red;
        font-size: 7px !important;
    }
    .td_color_pgto_sim {
        color: blue;
        font-size: 7px !important;
    }
    #td_sem_contas_agendadas {
        text-align: center;
        font-weight: bold;
        color: black;
    }
    .cor_preta {
        font-weight: bold;
        color: black;
        font-size: 10px !important;
    }
    tfoot {
        background-color: rgb(255,204,0);
        font-weight: bold;
    }
    .tam_fonte {
        font-size: 7px !important;
    }
    #msg_ret_com_pgto {
        font-weight: bold;
        background-color: #98FB98;
        font-size: 9px !important;
    }
    #msg_ret_sem_pgto {
        font-weight: bold;
        background-color: #FFDEAD;
        font-size: 9px !important;
    }
    .largura_td {
        width: 50% !important;
    }
    #largura_td_valor {
        width: 20% !important;
    }
    #largura_td_data {
        width: 30% !important;
    }
    #largura_td_pago {
        width: 40px !important;
    }


    /* PÁGINA EXTRATO */
    #sec_extrato {
        margin-top: 25% !important;
        padding: 19px 15px 0px 15px;
        background-color: white;
    }
    #sec_com_extrato {
        margin-top: 25% !important;
        padding: 10px 10px 1px 10px !important;
        background-color: white;
    }
    #div_sem_extrato {
        padding: 5px 15px 13px 19px;
    }
    #btn_sair_sem_extrato {
        margin-left: 40%;
        width: 100px;
    }
    #table_extrato_atual > tbody > tr > td {
        padding: 1px;
    }
    #panel_body_extrato {
        padding: 5px 5px 5px 5px !important;
    }
    .td_extrato_deb_saldo {
        color: #837d7c;
        font-weight: bold;
        font-size: 7.5px !important; 
    }
    .td_extrato_cre {
        color: #0902fd;
        font-weight: bold;
        font-size: 7.5px !important; 
    }
    .td_extrato_deb_data {
        color: #837d7c;
        font-weight: bold;
        text-align: center;
        font-size: 7.5px !important;
    }
    .td_extrato_deb_fixa {
        color: red;
        font-size: 7.5px !important; 
    }
    .td_extrato_deb {
        font-size: 7.5px !important; 
    }
    .data_mov_cab, .valor_mov_cab, .saldo_mov_cab, .mov_cab, .cat_cab {
        text-align: center !important;
        font-size: 9px !important;
    }
    #btn_sair_extrato {
        float: right;
        width: 15% !important; 
        height: 10% !important; 
    }
    #table_extrato > div > h3 {
        font-size: 12px !important;    
        text-indent: 1% !important;
        text-align: center !important;
    }
    .largura_col_mov {
        width: 44% !important; 
    }
    .largura_col_data {
        width: 3% !important; 
    }
    .largura_col_cat {
        width: 19% !important; 
    }
    .largura_col_val {
        width: 20% !important; 
    }
    .largura_col_sal {
        width: 20% !important; 
    }
    #btn_toggle {
        background-color:white !important; 
    }


    /* PÁGINA DEBITAR */
    #sec_debito {
        margin-top: 22% !important;
        background-color: white;
        padding: 10px 10px 1px 10px !important;
    }
    #div_panel_form_debitar {

    }
    #msg_error_debito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_debito {
        font-size: 12px;
    }
    #retorno_debito {
        padding: 0 !important;
        height: 35px;
    }
    .btn_tam_dev {
        width: 32% !important; 
    }


    /* PÁGINA AGENDAR PAGAMENTO */
    #sec_agendar_pagamento {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_agendar_pagamento {
        font-size: 12px;
        padding: 7px;
        width: 335px;
    }
    #msg_success_agendar_pagamento {
        font-size: 12px;
    }
    #retorno_agendamento_pgto {
        padding: 0 !important;
        height: 35px;
    }


    /* PÁGINA LISTAR PAGAMENTO AGENDADO*/
    #sec_listar_pagamento_agendado {
        margin-top: 5%;
        background-color: white;
        padding: 0 1px 0 1px;
        height: 565px;
    }
    #panel_head_agendamento_pagamento {
        background-color: #6767fe;
        color: white;
        text-align: center;
        font-size: 16px;
    }
    .centralizar_td {
        text-align: center;
    }
    #tabela_index_agendamento_pagamento > thead > tr > th {
        text-align: center;
        background-color: darkkhaki;
    }
    #tabela_index_agendamento_pagamento > tbody > tr > td {
        padding: 3px;
        font-size: 13px;
    }
    #div_nav_pagination {
        margin-top: -3%;
        margin-left: 38%;
    }
    .cor_verde {
        color: lime;
    }
    .cor_vermelho {
        color: red;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
    .pag_item {
        width:20px;
        height:20px;
        float:left;
        border:1px solid #000;
        margin-right: 3px;
        text-align: center;
        line-height: 20px;
    }
    .pag_item a {
        color:#000;
        text-decoration: none;
    }
    .pag_ativo {
        background-color:#224074;
    }
    .pag_ativo a {
        color:#FFF;
    }


    /* PÁGINA ALTERAR PAGAMENTO AGENDADO*/
    #sec_alterar_pagamento_agendado {
        margin-top: 7%;
        background-color: white;
        padding: 20px 15px 0 15px;
    }
    #msg_error_alterar_pgto_agendado {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_alterar_pgto_agendado {
        font-size: 12px;
    }
    #retorno_alterar_pgto_agendado {
        padding: 0 !important;
        height: 35px;
    }



    /* PÁGINA CREDITAR */
    #sec_credito {
        margin-top: 8%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_credito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_credito {
        font-size: 12px;
    }
    #retorno_credito {
        padding: 0 !important;
        height: 35px;
    }

    /* PÁGINA CARTÃO DE CRÉDITO CADASTRAR */
    #sec_cartao_cadastrar {
        margin-top: 8%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_cartao_credito_cadastro {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_cartao_credito_cadastro {
        font-size: 12px;
    }
    #retorno_cartao_credito_cadastro {
        padding: 0 !important;
        height: 35px;
    }


    /* PÁGINA LANÇAR COMPRA CARTÃO DE CRÉDITO */
    #sec_cartao_lancar_compra {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_lancar_compra_cartao_credito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_lancar_compra_cartao_credito {
        font-size: 12px;
    }
    #retorno_lancar_compra_cartao_credito {
        padding: 0 !important;
        height: 35px;
        margin-left: 2.5%;
    }


    /* PÁGINA CRIAR FATURA CARTÃO DE CRÉDITO */
    #sec_criar_fatura_cartao {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
        margin-left: 25%;
    }
    #msg_error_criar_fatura_cartao_credito {
        font-size: 12px;
        padding: 10px;
        height: 35px;
    }
    #msg_success_criar_fatura_cartao_credito {
        font-size: 12px;
    }
    #retorno_criar_fatura_cartao_credito {
        padding: 0 !important;
        height: 30px;
        margin-left: 2.5%;
        margin-top: 2%;
    }
    #div_botoes_criar_fatura {
        clear: both;
        margin-top: 2%;
    }


    /* PÁGINA FECHAR FATURA CARTÃO DE CRÉDITO */
    #sec_fechar_fatura_cartao {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
        margin-left: 25%;
    }
    #msg_error_fechar_fatura_cartao_credito {
        font-size: 12px;
        padding: 10px;
        height: 35px;
    }
    #msg_success_fechar_fatura_cartao_credito {
        font-size: 12px;
    }
    #retorno_fechar_fatura_cartao_credito {
        padding: 0 !important;
        height: 30px;
        margin-left: 2.5%;
    }

    
    /* PÁGINA PAGAR FATURA CARTÃO DE CRÉDITO */
    #sec_pagar_fatura_cartao {
        margin-top: 5%;
        background-color: white;
        padding: 10px 10px 0 10px;
        margin-left: 16%;
    }
    #div_row_table_fecha_fatura {
        width: 96.2%;
    }
    #table_lista_itens_fatura > tbody > tr > td {
        font-size: 12px;
        padding: 2px;
    }
    #table_lista_itens_fatura > tfoot > tr > td{
        font-size: 12px;
        padding: 2px;
    }
    #table_lista_itens_fatura {
        margin-left: 1.9%;
    }
    .muda_label {
        font-size: 12px;
    }
    .alinha_td_centro, .alinha_th_centro {
        text-align: center;
    }
    .alinha_td_direita {
        text-align: right;
    }
    #msg_alerta_sem_despesa_fatura {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        width: 104%;
    }
    #retorno_pagar_fatura_cartao_credito {
        padding: 0 !important;
        height: 33px;
        width: 48%;
    }
    #msg_error_pgto_fatura_cartao {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_pgto_fatura_cartao {
        font-size: 12px;
        padding: 7px;
    }


    /* PÁGINA ERROR 404 */
    #sec_erro_404 {
        margin-top: 3%;
        background-color: white;
        padding: 5px 20px 15px 30px;
        margin-left: 16%;
    }
    .img_erro_404 {
        width: 10%;
        margin-left: 0;
        margin-top: 0em;
        margin-right: 0em;
        margin-bottom: 0em;
    }
}


@media (min-width: 82em) {

    html, body {
        margin: 0;
        height: 100%;
        background-color: #DCDCDC;

    }
    .borda {
        border: 1px solid black;
    }
    .color_fonte_white {
        color: white !important;
    }
    .msgError {
        color: red;
        font-weight: bold;
        padding: 9px;
    }
    .msgSuccess {
        color: green;
        font-weight: bold;
        padding: 9px;
    }
    .cor_fundo {
        background-color: #000080 !important;
        height: 100%;
    }

    /* NAVBAR */
    #barra_nav {
        height: 60px;
        background-color: #337ab7;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        margin: 0.4%;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    #navbar-nav {
        margin-left: 20px;
    }
    #navbar-nav > li > a {
        color: white;
    }
    #navbar-nav > li > a:hover {
        background-color: #ccc;
        color: red;
        padding: 15px;
        margin-top: -2px;;
    } 
    #dropdown-menu > li > a:hover {
        background-color: #ccc;
        color: red;
    }
    #navbar-nav > li > a {
        padding: 15px;
        margin-top: -2px;
    }
    #navbar-nav > li > a, #navbar_deslogar  > li > a {
        color: white;
        padding: 15px;
        margin-top: -2px;
    }
    #navbar_saldo {
        color: white; 
        margin-top: 4px;
        font-size: 12px;
        width: 250px;
        margin-left: 185px;
    }
    .info_saldo {
        color: yellow;
    }

    /* PÁGINA HOME */
    .div_page_principal {
        margin-top: 4%;
    }


    /* PÁGINA LOGIN */
    #sec_login {
        margin-top: 10% ;
        margin-left: 33% ;
    }
    #div_login {
        border-radius: 20px;
        -moz-border-radius: 20px;
        height: 300px;
    }
    #msg_error_login {
        padding: 7px !important;
        font-size: 11px;
        background-color: #FFFF00;
    }
    .box-login{ 
        position: absolute;
        box-shadow: 8px 8px 0 black;
        -webkit-box-shadow: 8px 8px 0 black;
        -moz-box-shadow: 8px 8px 0 black;
        background-color: #D3D3D3;
        padding: 20px
    }
    .ls-login-logo{ 
        text-indent: 35px;
        margin-bottom: 25px;
    }
    #div_botoes_login {
        width: 205px;
        float: left;
    }



    /* PÁGINA CADASTRO USUÁRIO */
    #sec_cadastro_usuario {
        margin-top: 7%;
        margin-left: 29%;
    }
    #div_cad_usuario {
        border-radius: 20px;
        -moz-border-radius: 20px;
        height: 390px;
    }
    #msg_error_cad_usuario {
        padding: 8px !important;
        font-size: 11px;
        background-color: #FFFF00;
    }
    .box-login{ 
        position: absolute;
        box-shadow: 6px 6px 0 black;
        -webkit-box-shadow: 6px 6px 0 black;
        -moz-box-shadow: 6px 6px 0 black;
        background-color: #D3D3D3;
        padding: 20px;
    }
    #header_cad_usuario { 
        text-indent: 75px;
        margin-bottom: 25px;
    }
    #retorno_cad_usuario {  
        float: left;
    }


    /* PÁGINA CADASTRO CONTA */
    #sec_cadastro_conta {
        margin-top: 8%;
        margin-left: 20%;
    }
    #panel_cadastro {
        width: 100%;
        border: solid 0 white;
    }
    #panel_heading_cadastro {
        background-color: #6C7B8B;
        color: white;
    }
    #panel_body_cadastro_conta {
        height: 240px;
    }
    #msg_error_cad_conta {
        font-size: 12px;
    }
    #msg_success_cad_conta {
        font-size: 12px;
    }

    /* PÁGINA HOME */
    #sec_sem_conta {
        margin-top: 6%;
        background-color: white;
    }
    #sec_sem_conta > p {
        font-size: 16px;
    }
    #sec_com_conta {
        margin-top: 6%;
        background-color: white;
        padding: 5px 20px 25px 30px;
    }
    .tipo_conta_home, .ag_conta_home {
        font-weight: bold;
    }
    .num_conta_home, .nome_banco_home {
        font-weight: bold;
        color: #0531fe;
    }


    /* PÁGINA CONTA HOME */
    #sec_conta_home {
        margin-top: 7%;
    }
    #sec_conta_home_tab_pgtos_agendados {
        margin-top: 7%;
        color: white; 
        font-size: 12px;
    }
    .btn_extrato {
        height: 80px;
        border-radius: 10px 0 0 10px;
        width: 115px;
    }
    .btn_extrato_1 {
        height: 80px;
        border-radius: 0 10px 10px 0;
    }
    .href_btn_home {
        color: white;
    }
    #btn_agendamento {
        height: 80px;
        border-radius: 10px 0 0 10px;
        width: 115px;
    }
    #btn_agendamento_1 {
        height: 80px;
        border-radius: 0 10px 10px 0;
    }
    .bordasimples {
        border-style: solid;
        border-color: white;
        border-width: 1px;
        border-collapse: collapse;
    }
    #table_desp_agendada > tbody > tr > td {
        background-color: rgb(204,255,255);
    }
    #cab_table {
        color: white;
        text-align: center;
        background-color: red;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
    }
    #tr_cab_table {
        background-color: #0000FF;
        font-weight: bold;
        color: white;
    }
    .td_color_pgto {
        color: red;
    }
    .td_color_pgto_sim {
        color: blue;
    }
    #td_sem_contas_agendadas {
        text-align: center;
        font-weight: bold;
        color: black;
    }
    .cor_preta {
        font-weight: bold;
        color: black;
    }
    tfoot {
        background-color: rgb(255,204,0);
        font-weight: bold;
    }
    #msg_ret_com_pgto {
        font-weight: bold;
        background-color: #98FB98;
    }
    #msg_ret_sem_pgto {
        font-weight: bold;
        background-color: #FFDEAD;
    }



    /* PÁGINA EXTRATO */
    #sec_extrato {
        margin-top: 8%;
        padding: 19px 15px 0px 15px;
        background-color: white;
    }
    #sec_com_extrato {
        margin-top: 6%;
        padding: 19px 15px 0px 15px;
        background-color: white;
    }
    #div_sem_extrato {
        padding: 5px 15px 13px 19px;
    }
    #btn_sair_sem_extrato {
        margin-left: 40%;
        width: 100px;
    }
    #table_extrato_atual > tbody > tr > td {
        padding: 3px;
    }
    #panel_body_extrato {
        padding: 5px 15px 15px 15px;
    }
    .td_extrato_deb_saldo {
        color: #837d7c;
        font-weight: bold;
    }
    .td_extrato_cre {
        color: #0902fd;
        font-weight: bold;
    }
    .td_extrato_deb_data {
        color: #837d7c;
        font-weight: bold;
        text-align: center;
    }
    .td_extrato_deb_fixa {
        color: red;
    }
    .data_mov_cab, .valor_mov_cab, .saldo_mov_cab {
        text-align: center;
    }
    #btn_sair_extrato {
        float: right;
    }


    /* PÁGINA DEBITAR */
    #sec_debito {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #div_panel_form_debitar {

    }
    #msg_error_debito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_debito {
        font-size: 12px;
    }
    #retorno_debito {
        padding: 0 !important;
        height: 35px;
    }


    /* PÁGINA AGENDAR PAGAMENTO */
    #sec_agendar_pagamento {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_agendar_pagamento {
        font-size: 12px;
        padding: 7px;
        width: 335px;
    }
    #msg_success_agendar_pagamento {
        font-size: 12px;
    }
    #retorno_agendamento_pgto {
        padding: 0 !important;
        height: 35px;
    }


    /* PÁGINA LISTAR PAGAMENTO AGENDADO*/
    #sec_listar_pagamento_agendado {
        margin-top: 5%;
        background-color: white;
        padding: 0 1px 0 1px;
        height: 565px;
    }
    #panel_head_agendamento_pagamento {
        background-color: #6767fe;
        color: white;
        text-align: center;
        font-size: 16px;
    }
    .centralizar_td {
        text-align: center;
    }
    #tabela_index_agendamento_pagamento > thead > tr > th {
        text-align: center;
        background-color: darkkhaki;
    }
    #tabela_index_agendamento_pagamento > tbody > tr > td {
        padding: 3px;
        font-size: 13px;
    }
    #div_nav_pagination {
        margin-top: -3%;
        margin-left: 38%;
    }
    .cor_verde {
        color: lime;
    }
    .cor_vermelho {
        color: red;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
    .pag_item {
        width:20px;
        height:20px;
        float:left;
        border:1px solid #000;
        margin-right: 3px;
        text-align: center;
        line-height: 20px;
    }
    .pag_item a {
        color:#000;
        text-decoration: none;
    }
    .pag_ativo {
        background-color:#224074;
    }
    .pag_ativo a {
        color:#FFF;
    }


    /* PÁGINA ALTERAR PAGAMENTO AGENDADO*/
    #sec_alterar_pagamento_agendado {
        margin-top: 7%;
        background-color: white;
        padding: 20px 15px 0 15px;
    }
    #msg_error_alterar_pgto_agendado {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_alterar_pgto_agendado {
        font-size: 12px;
    }
    #retorno_alterar_pgto_agendado {
        padding: 0 !important;
        height: 35px;
    }



    /* PÁGINA CREDITAR */
    #sec_credito {
        margin-top: 8%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_credito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_credito {
        font-size: 12px;
    }
    #retorno_credito {
        padding: 0 !important;
        height: 35px;
    }

    /* PÁGINA CARTÃO DE CRÉDITO CADASTRAR */
    #sec_cartao_cadastrar {
        margin-top: 8%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_cartao_credito_cadastro {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_cartao_credito_cadastro {
        font-size: 12px;
    }
    #retorno_cartao_credito_cadastro {
        padding: 0 !important;
        height: 35px;
    }


    /* PÁGINA LANÇAR COMPRA CARTÃO DE CRÉDITO */
    #sec_cartao_lancar_compra {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_lancar_compra_cartao_credito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_lancar_compra_cartao_credito {
        font-size: 12px;
    }
    #retorno_lancar_compra_cartao_credito {
        padding: 0 !important;
        height: 35px;
        margin-left: 2.5%;
    }


    /* PÁGINA CRIAR FATURA CARTÃO DE CRÉDITO */
    #sec_criar_fatura_cartao {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
        margin-left: 25%;
    }
    #msg_error_criar_fatura_cartao_credito {
        font-size: 12px;
        padding: 10px;
        height: 35px;
    }
    #msg_success_criar_fatura_cartao_credito {
        font-size: 12px;
    }
    #retorno_criar_fatura_cartao_credito {
        padding: 0 !important;
        height: 30px;
        margin-left: 2.5%;
        margin-top: 2%;
    }
    #div_botoes_criar_fatura {
        clear: both;
        margin-top: 2%;
    }


    /* PÁGINA FECHAR FATURA CARTÃO DE CRÉDITO */
    #sec_fechar_fatura_cartao {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
        margin-left: 25%;
    }
    #msg_error_fechar_fatura_cartao_credito {
        font-size: 12px;
        padding: 10px;
        height: 35px;
    }
    #msg_success_fechar_fatura_cartao_credito {
        font-size: 12px;
    }
    #retorno_fechar_fatura_cartao_credito {
        padding: 0 !important;
        height: 30px;
        margin-left: 2.5%;
    }

    
    /* PÁGINA PAGAR FATURA CARTÃO DE CRÉDITO */
    #sec_pagar_fatura_cartao {
        margin-top: 5%;
        background-color: white;
        padding: 10px 10px 0 10px;
        margin-left: 16%;
    }
    #div_row_table_fecha_fatura {
        width: 96.2%;
    }
    #table_lista_itens_fatura > tbody > tr > td {
        font-size: 12px;
        padding: 2px;
    }
    #table_lista_itens_fatura > tfoot > tr > td{
        font-size: 12px;
        padding: 2px;
    }
    #table_lista_itens_fatura {
        margin-left: 1.9%;
    }
    .muda_label {
        font-size: 12px;
    }
    .alinha_td_centro, .alinha_th_centro {
        text-align: center;
    }
    .alinha_td_direita {
        text-align: right;
    }
    #msg_alerta_sem_despesa_fatura {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        width: 104%;
    }
    #retorno_pagar_fatura_cartao_credito {
        padding: 0 !important;
        height: 33px;
        width: 48%;
    }
    #msg_error_pgto_fatura_cartao {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_pgto_fatura_cartao {
        font-size: 12px;
        padding: 7px;
    }


    /* PÁGINA ERROR 404 */
    #sec_erro_404 {
        margin-top: 3%;
        background-color: white;
        padding: 5px 20px 15px 30px;
        margin-left: 16%;
    }
    .img_erro_404 {
        width: 10%;
        margin-left: 0;
        margin-top: 0em;
        margin-right: 0em;
        margin-bottom: 0em;
    }
}


@media (max-width: 100em) {
    html, body {
        margin: 0;
        height: 100%;
        background-color: #DCDCDC;
    }
    .borda {
        border: 1px solid black;
    }
    .color_fonte_white {
        color: white !important;
    }
    .msgError {
        color: red;
        font-weight: bold;
        padding: 9px;
    }
    .msgSuccess {
        color: green;
        font-weight: bold;
        padding: 9px;
    }
    .cor_fundo {
        background-color: #000080 !important;
        height: 100%;
    }

    /* NAVBAR */
    #barra_nav {
        height: 60px;
        background-color: #337ab7;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        margin: 0.4%;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    #navbar-nav {
        margin-left: 20px;
    }
    #navbar-nav > li > a {
        color: white;
    }
    #navbar-nav > li > a:hover {
        background-color: #ccc;
        color: red;
        padding: 15px;
        margin-top: -2px;;
    } 
    #dropdown-menu > li > a:hover {
        background-color: #ccc;
        color: red;
    }
    #navbar-nav > li > a {
        padding: 15px;
        margin-top: -2px;
    }
    #navbar-nav > li > a, #navbar_deslogar  > li > a {
        color: white;
        padding: 15px;
        margin-top: -2px;
    }
    #navbar_saldo {
        color: white; 
        margin-top: 4px;
        font-size: 12px;
        width: 250px;
        margin-left: 185px;
    }
    .info_saldo {
        color: yellow;
    }

    /* PÁGINA HOME */
    .div_page_principal {
        margin-top: 4%;
    }


    /* PÁGINA LOGIN */
    #sec_login {
        margin-top: 10%;
        margin-left: 33%;
    }
    #div_login {
        border-radius: 20px;
        -moz-border-radius: 20px;
        height: 300px;
    }
    #msg_error_login {
        padding: 7px !important;
        font-size: 11px;
    }
    .box-login{ 
        position: absolute;
        box-shadow: 6px 6px 0 black;
        -webkit-box-shadow: 6px 6px 0 black;
        -moz-box-shadow: 6px 6px 0 black;
        background-color: #D3D3D3;
        padding: 20px
    }
    .ls-login-logo{ 
        text-indent: 35px;
        margin-bottom: 25px
    }



    /* PÁGINA CADASTRO USUÁRIO */
    #sec_cadastro_usuario {
        margin-top: 7%;
        margin-left: 29%;
    }
    #div_cad_usuario {
        border-radius: 20px;
        -moz-border-radius: 20px;
        height: 390px;
    }
    #msg_error_cad_usuario {
        padding: 8px !important;
        font-size: 11px;
        background-color: #FFFF00;
    }
    .box-login{ 
        position: absolute;
        box-shadow: 6px 6px 0 black;
        -webkit-box-shadow: 6px 6px 0 black;
        -moz-box-shadow: 6px 6px 0 black;
        background-color: #D3D3D3;
        padding: 20px;
    }
    #header_cad_usuario { 
        text-indent: 75px;
        margin-bottom: 25px;
    }
    #retorno_cad_usuario {  
        float: left;
    }


    /* PÁGINA CADASTRO CONTA */
    #sec_cadastro_conta {
        margin-top: 8%;
        margin-left: 20%;
    }
    #panel_cadastro {
        width: 100%;
        border: solid 0 white;
    }
    #panel_heading_cadastro {
        background-color: #6C7B8B;
        color: white;
    }
    #panel_body_cadastro_conta {
        height: 240px;
    }
    #msg_error_cad_conta {
        font-size: 12px;
    }
    #msg_success_cad_conta {
        font-size: 12px;
    }

    /* PÁGINA HOME */
    #sec_sem_conta {
        margin-top: 6%;
        background-color: white;
    }
    #sec_sem_conta > p {
        font-size: 16px;
    }
    #sec_com_conta {
        margin-top: 10%;
        background-color: white;
        padding: 0 15px 20px 15px;
    }
    .tipo_conta_home, .ag_conta_home {
        font-weight: bold;
    }
    .num_conta_home, .nome_banco_home {
        font-weight: bold;
        color: #0531fe;
    }
    #div_head_com_conta {
        padding: 0 10px 5px 0;
    }
    #div_body_com_conta {
        padding: 0 0 0 0;
    }
    #div_footer_com_conta {
        padding: 10px 10px 0 12px;
    }


    /* PÁGINA CONTA HOME */
    #sec_conta_home {
        margin-top: 3%;
    }
    #sec_conta_home_tab_pgtos_agendados {
        margin-top: 3%;
        color: white; 
        font-size: 12px;
    }
    .btn_extrato {
        height: 80px;
        border-radius: 10px 0 0 10px;
        width: 115px;
    }
    .btn_extrato_1 {
        height: 80px;
        border-radius: 0 10px 10px 0;
    }
    .href_btn_home {
        color: white;
    }
    #btn_agendamento {
        height: 80px;
        border-radius: 10px 0 0 10px;
        width: 115px;
    }
    #btn_agendamento_1 {
        height: 80px;
        border-radius: 0 10px 10px 0;
    }
    .bordasimples {
        border-style: solid;
        border-color: white;
        border-width: 1px;
        border-collapse: collapse;
    }
    #table_desp_agendada > tbody > tr > td {
        background-color: rgb(204,255,255);
    }
    #cab_table {
        color: white;
        text-align: center;
        background-color: red;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
    }
    #tr_cab_table {
        background-color: #0000FF;
        font-weight: bold;
        color: white;
    }
    .td_color_pgto {
        color: red;
    }
    .td_color_pgto_sim {
        color: blue;
    }
    #td_sem_contas_agendadas {
        text-align: center;
        font-weight: bold;
        color: black;
    }
    .cor_preta {
        font-weight: bold;
        color: black;
    }
    tfoot {
        background-color: rgb(255,204,0);
        font-weight: bold;
    }
    #msg_ret_com_pgto {
        font-weight: bold;
        background-color: #98FB98;
    }
    #msg_ret_sem_pgto {
        font-weight: bold;
        background-color: #FFDEAD;
    }



    /* PÁGINA EXTRATO */
    #sec_extrato {
        margin-top: 8%;
        padding: 19px 15px 0px 15px;
        background-color: white;
    }
    #sec_com_extrato {
        margin-top: 6%;
        padding: 19px 15px 0px 15px;
        background-color: white;
    }
    #div_sem_extrato {
        padding: 5px 15px 13px 19px;
    }
    #btn_sair_sem_extrato {
        margin-left: 40%;
        width: 100px;
    }
    #table_extrato_atual > tbody > tr > td {
        padding: 3px;
    }
    #panel_body_extrato {
        padding: 5px 15px 15px 15px;
    }
    .td_extrato_deb_saldo {
        color: #837d7c;
        font-weight: bold;
    }
    .td_extrato_cre {
        color: #0902fd;
        font-weight: bold;
    }
    .td_extrato_deb_data {
        color: #837d7c;
        font-weight: bold;
        text-align: center;
    }
    .td_extrato_deb_fixa {
        color: red;
    }
    .data_mov_cab, .valor_mov_cab, .saldo_mov_cab {
        text-align: center;
    }
    #btn_sair_extrato {
        float: right;
    }


    /* PÁGINA DEBITAR */
    #sec_debito {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #div_panel_form_debitar {

    }
    #msg_error_debito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_debito {
        font-size: 12px;
    }
    #retorno_debito {
        padding: 0 !important;
        height: 35px;
    }


    /* PÁGINA AGENDAR PAGAMENTO */
    #sec_agendar_pagamento {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_agendar_pagamento {
        font-size: 12px;
        padding: 7px;
        width: 335px;
    }
    #msg_success_agendar_pagamento {
        font-size: 12px;
    }
    #retorno_agendamento_pgto {
        padding: 0 !important;
        height: 35px;
    }


    /* PÁGINA LISTAR PAGAMENTO AGENDADO*/
    #sec_listar_pagamento_agendado {
        margin-top: 6%;
        background-color: white;
        padding: 3px 5px 0 5px;
        height: 575px;
    }
    #panel_head_agendamento_pagamento {
        background-color: #6767fe;
        color: white;
        text-align: center;
        font-size: 16px;
    }
    .centralizar_td {
        text-align: center;
    }
    #tabela_index_agendamento_pagamento > thead > tr > th {
        text-align: center;
        background-color: darkkhaki;
    }
    #tabela_index_agendamento_pagamento > tbody > tr > td {
        padding: 3px;
        font-size: 13px;
    }
    #div_nav_pagination {
        margin-top: -3%;
        margin-left: 38%;
    }
    .cor_verde {
        color: lime;
    }
    .cor_vermelho {
        color: red;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
    .pag_item {
        width:20px;
        height:20px;
        float:left;
        border:1px solid #000;
        margin-right: 3px;
        text-align: center;
        line-height: 20px;
    }
    .pag_item a {
        color:#000;
        text-decoration: none;
    }
    .pag_ativo {
        background-color:#224074;
    }
    .pag_ativo a {
        color:#FFF;
    }


    /* PÁGINA ALTERAR PAGAMENTO AGENDADO*/
    #sec_alterar_pagamento_agendado {
        margin-top: 6%;
        background-color: white;
        padding: 20px 15px 0 15px;
    }
    #msg_error_alterar_pgto_agendado {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_alterar_pgto_agendado {
        font-size: 12px;
    }
    #retorno_alterar_pgto_agendado {
        padding: 0 !important;
        height: 35px;
    }



    /* PÁGINA CREDITAR */
    #sec_credito {
        margin-top: 8%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_credito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_credito {
        font-size: 12px;
    }
    #retorno_credito {
        padding: 0 !important;
        height: 35px;
    }

    /* PÁGINA CARTÃO DE CRÉDITO CADASTRAR */
    #sec_cartao_cadastrar {
        margin-top: 8%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_cartao_credito_cadastro {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_cartao_credito_cadastro {
        font-size: 12px;
    }
    #retorno_cartao_credito_cadastro {
        padding: 0 !important;
        height: 35px;
    }


    /* PÁGINA LANÇAR COMPRA CARTÃO DE CRÉDITO */
    #sec_cartao_lancar_compra {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
    }
    #msg_error_lancar_compra_cartao_credito {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_lancar_compra_cartao_credito {
        font-size: 12px;
    }
    #retorno_lancar_compra_cartao_credito {
        padding: 0 !important;
        height: 35px;
        margin-left: 2.5%;
    }


    /* PÁGINA CRIAR FATURA CARTÃO DE CRÉDITO */
    #sec_criar_fatura_cartao {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
        margin-left: 25%;
    }
    #msg_error_criar_fatura_cartao_credito {
        font-size: 12px;
        padding: 10px;
        height: 35px;
    }
    #msg_success_criar_fatura_cartao_credito {
        font-size: 12px;
    }
    #retorno_criar_fatura_cartao_credito {
        padding: 0 !important;
        height: 30px;
        margin-left: 2.5%;
        margin-top: 2%;
    }
    #div_botoes_criar_fatura {
        clear: both;
        margin-top: 2%;
    }


    /* PÁGINA FECHAR FATURA CARTÃO DE CRÉDITO */
    #sec_fechar_fatura_cartao {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
        margin-left: 25%;
    }
    #msg_error_fechar_fatura_cartao_credito {
        font-size: 12px;
        padding: 10px;
        height: 35px;
    }
    #msg_success_fechar_fatura_cartao_credito {
        font-size: 12px;
    }
    #retorno_fechar_fatura_cartao_credito {
        padding: 0 !important;
        height: 30px;
        margin-left: 2.5%;
    }

    
    /* PÁGINA PAGAR FATURA CARTÃO DE CRÉDITO */
    #sec_fechar_fatura_cartao {
        margin-top: 7%;
        background-color: white;
        padding: 19px 15px 0 15px;
        margin-left: 25%;
    }
    #msg_error_fechar_fatura_cartao_credito {
        font-size: 12px;
        padding: 10px;
        height: 35px;
    }
    #msg_success_fechar_fatura_cartao_credito {
        font-size: 12px;
    }
    #retorno_fechar_fatura_cartao_credito {
        padding: 0 !important;
        height: 30px;
        margin-left: 2.5%;
    }

    
    /* PÁGINA PAGAR FATURA CARTÃO DE CRÉDITO */
    #sec_pagar_fatura_cartao {
        margin-top: 5%;
        background-color: white;
        padding: 10px 10px 0 10px;
        margin-left: 16%;
    }
    #div_row_table_fecha_fatura {
        width: 96.2%;
    }
    #table_lista_itens_fatura > tbody > tr > td {
        font-size: 12px;
        padding: 2px;
    }
    #table_lista_itens_fatura > tfoot > tr > td{
        font-size: 12px;
        padding: 2px;
    }
    #table_lista_itens_fatura {
        margin-left: 1.9%;
    }
    .muda_label {
        font-size: 12px;
    }
    .alinha_td_centro, .alinha_th_centro {
        text-align: center;
    }
    .alinha_td_direita {
        text-align: right;
    }
    #msg_alerta_sem_despesa_fatura {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        width: 104%;
    }
    #retorno_pagar_fatura_cartao_credito {
        padding: 0 !important;
        height: 33px;
        width: 48%;
    }
    #msg_error_pgto_fatura_cartao {
        font-size: 12px;
        padding: 7px;
    }
    #msg_success_pgto_fatura_cartao {
        font-size: 12px;
        padding: 7px;
    }



    /* PÁGINA ERROR 404 */
    #sec_erro_404 {
        margin-top: 3%;
        background-color: white;
        padding: 5px 20px 15px 30px;
        margin-left: 16%;
    }
    .img_erro_404 {
        width: 10%;
        margin-left: 0;
        margin-top: 0em;
        margin-right: 0em;
        margin-bottom: 0em;
    }
}    